html, body {
    height: 100%;
}

/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
  padding: 35px 35px 25px 35px;
  line-height: normal;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

body > .container {
    margin-bottom: 138px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index:150;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)));
}
